body {
  font-family: 'Helvetica';
  letter-spacing:-5px;
  background:#eee;
  background-size:100%;
  color:#0b486b;
  margin:0;
  padding:0;
  font-weight:bold;
}

h1, h2, h3, p {
  margin:0;
}

em, a {
  font-style:normal;
  color:#88c3a4;
  text-shadow: 3px 3px #000;
}

strong {
  color: #c85d17;
  text-shadow: 3px 3px #000;
}

a {
  background: #c85d17;
  color:#ddd;
  text-decoration:none;
}

img {
  width:100%;
}

div {
  cursor:pointer;
  cursor:hand;
  position:absolute;
  top:0px;
  left:0px;
  padding:75px;
  line-height:97%;
}

div.center {
  text-align:center;
}

div.imageText {
  text-shadow:0px 0px 5px rgba(0,0,0,0.2);
}
